
.nav-bg{
    background-image: linear-gradient(to right, #caaccc, #2a043d);
    padding: 0 !important;
}
.nav-padd li{
    padding:0 20px
}
.nav-padd li a{
    color: white;
    font-weight: 600;
}
.fas{
    color: white;
    font-size: 30px !important;
}

.mar {
    padding-top: 150px !important;
    padding-bottom: 80px;
}
.size{
    font-size: 84px !important;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}
.text-color{
    color: chocolate;
}
.text-color-2{
    color: #36220a;
}
.radious{
    border-radius: 20px;
}

.margin{
    margin-top: 150px;
    margin-bottom: 100px;
}
.img-margin{
    padding-top: 20px;
}
.font{
    font-size: 50px !important;
}
.hero{
    background-color: #e4dbd3;
}


/* .icon{
    width: 100%;
    height: 10vh;
} */






.icon a{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    text-decoration: none;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-position: 0% 5%;
    background-size: 100% 200%;
    transition: background-position .5s, color .5s;
    
}

.icon a:nth-child(1){
    color: blue;
    background-image: linear-gradient(white 50%, blue 50%);
}
.icon a:nth-child(2){
    color: blueviolet;
    background-image: linear-gradient(white 50%, blueviolet 50%);
}
.icon a:nth-child(3){
    color: red;
    background-image: linear-gradient(white 50%, red 50%);
}
.icon a:nth-child(4){
    color: #1a0102;
    background-image: linear-gradient(white 50%, #1a0102 50%);
}
.icon a:nth-child(5){
    color: #040475;
    background-image: linear-gradient(white 50%, #040475 50%);
}

.icon a:nth-child(1):hover, .icon a:nth-child(2):hover, .icon a:nth-child(3):hover, .icon a:nth-child(4):hover, .icon a:nth-child(5):hover {
    color: white;
    background-position: 0% 100%;
}




































